/*  cream = #FFF8F3
    light blue = #A3E4DB
    dark blue = #1C6DD0
    pink = #FED1EF
*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
  font-size: 16px;
  overflow: scroll;
  /* for footer */
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;

}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000000;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  margin: auto aut
  padding: 10px 20px;
  text-decoration: none;
}
.nav-link{
  font-size: 1em;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .navbar-nav {
    margin-left: auto!important;
    margin-right: 0!important;
}
}


/*  Footer  */
.footer{
  position: relative;
  right: 0;
  bottom: 0;

  left: 0;
  padding: 0.75rem;
  background-color: #8C8C8C;
  text-align: center;
  font-size: 1.5em;
}

.welcome{
  text-align: center;
  padding-top: 1em;
  font-size: 24px;
}
.welcome h1{
  font-size: 2em;
}
.bg-light {
    background-color: #fff!important;
}
.photo-grid-container{
  overflow: hidden;
  list-style: none;
}
.photo img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.container{
  margin-top: 1em;
}
.img-fluid{
  margin-top: 6em !important;
}
.tile-row{
  margin: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
.tile-img{
  height: 100%;
}
.tile-text{
  margin: auto 1em;
}
.contact{
  margin-top: 6em;
  text-align: center;
}
.contact-body{
  margin: 2em auto;
}

.portfolio-text{
  margin-top: 6em;
  text-align: center;
}
